---
---

@import "minima";

/* Minimal overrides (inspired by simple personal sites) */

.wrapper {
  max-width: 880px;
}

.site-title {
  font-weight: 600;
}

.post-content {
  line-height: 1.75;
}

pre, code {
  font-size: 0.95em;
}
